@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body, html{
  font-family: "Quicksand", sans-serif;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  background-color: #38736D;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
  transition:  all .3s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

header nav a {
  margin-left: 20px;
  font-weight: bold;
}
